<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>EMS Login</title>
  <link rel="stylesheet" href="welcome-menu.component.css" />
</head>
<body>

  <header class="navbar">
    <div class="navbar__logo">Employee Portal</div>
    <div class="navbar__actions">
     <a routerLink="/login" class="btn btn--login">Login</a>

      <a routerLink="/register" class = "btn btn--register">Register</a>
    </div>
  </header>

</body>
</html>
